/*common*/
body{ margin:0;padding: 0;font-family: MicrosoftYaHei-Bold; color: #3f454c; background-color: #fff; }
ul li{ list-style-type: none;}
a{ text-decoration: none;}
a:visited{color:#1992fc;}
a:link{color:#1992fc;}
h1,h2,p{ margin:0;padding:0;}
dl{ margin:0;padding:0;}
dd{ margin-left: 0;}
input{ outline: none;}
/*tbody>tr:hover{background: #f3f4f8!important;}*/
tbody>tr:hover{color:#1992fc;}
tbody>tr td a:hover{ text-decoration: underline;}
.floatLeft{ float: left;}
.floatRight{ float: right;}
.color-blue{color: #4b90f7;}
/*common-header */
.headerBox{width: 100%; height: 60px; background: #fff; border-color: #e7e7e7;background: #fff;box-shadow: 0 3px 12px 0 rgba(20,27,45,.08);-webkit-box-shadow: 0 3px 12px 0 rgba(41, 76, 167, 0.08);}
.heaLogo{ margin-top: 13px;cursor: pointer;}
.heaGit{ margin-top: 18px;cursor: pointer;}
.w{ width: 70%; margin: 0 auto;}
.heaNav{ width: 531px; padding: 0; margin: 0 0 0 100px;}
.heaNav li{ float: left; line-height: 60px; margin-top: 0; padding: 0; margin-right: 50px; cursor: pointer;font-weight: 400;}
.heaNav li>a:link{color:#000;}
.heaNav li>a:visited{color:#000;}
.heaNav li:hover{ border-bottom: 3px solid #296de9; text-decoration: none; color: #353b47; font-weight: 500;}
.docr-ul{ display: none;position: absolute; top: 40px; min-width: 136px; box-shadow: 0 8px 16px 0 rgba(0,0,0,.2); padding: 12px 14px; text-align: center; left: -64px; background: #fff; z-index: 999;}
.docr-ul a{ text-align: center; display: block; color: #688499;}
.docr-ul a:hover{ color: #353b47; font-weight: 700;border-bottom: 3px solid #296de9;}
.docsNav:hover .docr-ul{ display: block;}
.w:after{content:"";display: block;clear:both;}
/*common-footer*/
.footerBox{background: #1e2736; color: #fff;margin-top: 50px;}
.footer_icon{background-color: #1e2736;height: 190px;position: relative;}
.foot_ul{position: absolute;right:15%;top:50%;margin-top:-11px;}
.foot_ul>li{float:left;margin-right: 10px;}
.foot_ul>li>a{display: block;text-align: center;cursor: pointer;}
.foot_ul img{opacity: .6}
.foot_ul span{color: #999; font-size: 12px;margin-top: 5px;}
.text-p{ padding: 5px; font-size: 12px; color: #999; text-align: center;}
.foot_ul>li>a>img:hover{opacity: 1}
.footer_tdwc>img{position: absolute;right:-125px;top:-180px;opacity: 1;display: none;}
.footer_tdwc:hover img{display: inline-block;}
.footer_tdqq>img{position: absolute;opacity: 1;right:-45px;top:-165px;display: none;}
.footer_tdqq:hover img{display: inline-block;}
/*header*/
.com-header{ clear: both; width: 100%; height:268px; padding-bottom: 10px; background: #fff; box-shadow: 0px 3px 8px 0px rgba(15, 104, 170, 0.06);margin-top: 4px;}
.hea-content{ width: 499px; height: 268px; margin:0 auto; }
.heaBg{ width: 499px; height: 268px; position: relative; }
.heaMess{ position: absolute; top: 98px;}
.com-header .nav-left{ width: 282px; margin: 0 auto 0;}
.com-header .nav-left dt{ width: 78px; height: 66px; margin-right: 10px;}
.logo-img{ width: 100%;}
.com-header .nav-left dd .nav-title{ font-size: 18px;}
.nav-title span{ margin-right: 10px; display: block;}
.nav-t1 a{color: #4b90f7; font-size: 30px;}
.nav-t2{ font-weight: normal; margin-top: -5px; font-size: 24px;}
.nav-num{color: #c6cbd7; font-size: 12px; margin-top:1px;}
/*hea-search*/
.search-bar{ width: 487px; margin-top: 20px; display: inline-block;}
.seacr-box{ width: 487px; height: 40px;position: relative; margin-right: 20px;}
.sea-ico{outline: none; width: 15px; height: 15px; border: none; position: absolute; background: url(/img/icon_tab.png) no-repeat -253px -5px; background-size: 381px 27px; right: 13px; bottom: 12px; cursor: pointer;}
.sea-ico:hover{ background: url(/img/icon_tab.png) no-repeat -228px -5px; background-size: 381px 27px; cursor: pointer;}
.sea-inp{ width: 487px; height: 34px; text-indent: 24px; border: 2px solid #e8ebf0; border-radius: 80px;}
.sea-inp::-webkit-input-placeholder{ color:#c6cbd7;font-size:14px;letter-spacing: 1px;}
.sea-inp::-moz-placeholder{ color:#c6cbd7;font-size:14px;letter-spacing: 1px;}
.go-btn{ cursor: pointer!important; outline:none;width: 100px; height: 32px; line-height: 32px; position: relative;top:2px; right: 33px; display: block; background: linear-gradient(to right,#1a90fc , #00d2ff);  box-shadow: 0px 6px 10px 0px rgba(15, 104, 170, 0.12); border-radius: 32px;}
.go-tex{ color: #fff; font-size: 18px; margin-left: -20px; font-weight: 300;}
.go-img{ width: 18px; height: 16px; top: 9px; position: absolute; right: 20px;}
.com-title{ margin: 0 0 20px 0; padding: 0; display: inline-block;}
.com-title li{ float: left; margin-right: 15px; font-size: 16px; font-weight: 500;}
.ico-img{ width:18px; height: 18px;}
/*table*/
.cont-box .blocklist{box-shadow: 0px 3px 8px 0px rgba(15, 104, 170, 0.06); border-radius: 4px;}
.com-table{width: 100%; text-align: center; background: #fff}
.com-table tr:nth-child(even) td { background: #f7f8fc;}
.com-table tr th{ height: 40px; font-size: 14px; background: #f7f8fc; border: none;}
.com-table tr td{ height: 45px; border: none；}
.table-tr{ 	height: 60px; box-shadow: 0px 6px 8px 0px rgba(15, 104, 170, 0.06); border-radius: 3px;}
.table-tr th{ border-top: solid 1px #f1f3f8!important; background-color: #ffffff!important;}
.table-ico1{ width: 13px; height: 11px; background: url(/img/icon_tab.png) no-repeat -134px  -5px; margin-right: 10px; display: inline-block; background-size: 381px 27px;}
.table-ico2{ width: 14px; height: 13px; background: url(/img/icon_tab.png) no-repeat -157px -5px; margin-right: 10px; display: inline-block; background-size: 381px 27px;}
.table-ico3{ width: 12px; height: 12px; background: url(/img/icon_tab.png) no-repeat -66px -5px; margin-right: 10px; display: inline-block; background-size: 381px 27px;}
.table-ico4{ width: 12px; height: 13px; background: url(/img/icon_tab.png) no-repeat -44px  -5px; margin-right: 10px; display: inline-block; background-size: 381px 27px;}
.table-ico5{ width: 14px; height: 14px; background: url(/img/icon_tab.png) no-repeat -180px -5px; margin-right: 10px; display: inline-block; background-size: 381px 27px;}
.blockInfo-box{box-shadow: 0px 3px 8px 0px rgba(15, 104, 170, 0.06); border-radius: 4px; background: #fff; margin-bottom: 20px;}
.addr-table{min-height:620px;position: relative;}
.blockInfo-table{width: 100%; padding: 20px; text-align: left; background: #fff;}
.blockInfo-title{ margin:20px 0 0 20px; height: 50px; line-height: 50px; background-image: linear-gradient(0deg, #f2f4f9 0%, #fefeff 100%); font-size: 16px; font-weight: 600; text-align: left; padding-left: 15px;}
.bt-borLef{ margin-right: 10px; border-left: 2px solid #4b90f7; height: 16px; width: 2px;}
.blockInfo-table tr:nth-child(odd) td { background: #f7f8fc;}
.blockInfo-table tr td:nth-child(1) {font-weight: 600;}
.blockInfo-table tr th{ height: 40px; font-size: 14px; background: #f7f8fc; border: none; padding-left:15px;}
.blockInfo-table tr td{ height: 40px; border: none; padding-left:15px;}
.sec1{ margin:25px 0; }
ul.title{ padding-left:24px; }
ul.title>li{ color:#4b90f7; font-size:26px; }
a[href^="javascript"]{ cursor: default; color:#929cb8; }
.titleAddr{ display: inline-block; margin-right: 10px;}
.titleAddr li{ float: left; font-size: 14px; margin-right: 15px;}
.addr-tit{ font-weight: 600; font-size: 18px;margin-right:8px;}
.addr-mess{color: #929cb8; font-size: 18px;vertical-align:bottom;}
/*404*/
.err_text{width: 769px; height: 257px; position: fixed; top: 50%; left: 50%; margin-top: -128px; margin-left: -384px; background-color: #ffffff; box-shadow: 0px 12px 20px 0px rgba(15, 104, 170, 0.06); border-radius: 20px; opacity: 0.9;}
.errorDl{ width: 550px; height: 150px; margin: 0 auto; margin-top: 52px;}
.errorDl dt{ width: 150px; height: 150px;}
.errorDl dt img{ width: 100%;}
.err_h1{letter-spacing: 8px; font-size: 90px; color: #3f454c;}
.err_p{color: #929cb8; font-size: 14px; margin-top: px;}
.err_a{ font-size: 12px; color: #1992fc!important;}
/*pagination in addressInfo*/
.pagination{margin-top:20px;width:480px;overflow: hidden;position: absolute;bottom: 15px;text-align: center;margin-left: 50%;left:-240px;}
.pagination>.pageInfo{height: 26px;width:180px;margin-left:2%;float:left;line-height: 26px;text-align: center;border: solid 1px #d2e3f1;background-color: #f7f8fc;border-radius: 15px;color:#929cb8}
.first{float:left;margin-right:5px;width:60px;height:26px;border: solid 1px #4b90f7;line-height: 26px;text-align: center;cursor: pointer;color:#4b90f7}
.last{float:right;margin-right:5px;width:60px;height:26px;border: solid 1px #4b90f7;line-height: 26px;text-align: center;cursor: pointer;color:#4b90f7}
.first:hover{background-color: #4b90f7;color:#fff;}
.last:hover{background-color: #4b90f7;color:#fff;}
.balCont{ width: 98%; margin:20px 0 0 20px; display: inline-block;}
.balanceBox{height: 45px; padding:5px 30px 5px 7px;; background-image: linear-gradient(135deg, #1189f8 0%, #00c6ff 100%); border-radius: 8px;}
.balDt{ width: 39px; height: 45px;}
.balDd{ margin-left: -6px;}
.balImg{ width: 100%;}
.banNum{ font-size: 24px; color: #fff;}
.banTex{ font-size: 12px; color: #fff;}
.balMes{ width: 115px; margin-top: 10px;text-align: center; margin-left: 20px;}
.balIco{ width: 5px; height: 6px; margin: -4px 10px 0 10px; vertical-align: middle;}
.balNum2{color: #3f454c; font-size: 18px;}
.balTex2{color: #929cb8; font-size: 12px;}
.tabIn{	width: 45px; height: 20px; line-height: 20px; font-size: 12px; display: inline-block; color: #ffffff; background-color: #1993fd; border-radius: 10px;}
.tabOut{	width: 45px; height: 20px; line-height: 20px; font-size: 12px; display: inline-block; color: #ffffff; background-color: #ff750f; border-radius: 10px;}
/*notfound Page*/
.notfound tbody>tr{height:500px;}
.notMessage{margin-top:10px;color:#c6cbd7}
