/*common*/
body{ margin:0;padding: 0;font-family: MicrosoftYaHei-Bold; color: #3f454c; background-color: #f7f8fc; }
ul li{ list-style-type: none;}
a{ text-decoration: none;}
a:visited{color:#1992fc;}
a:link{color:#1992fc;}
h1,h2,p{ margin:0;padding:0;}
dl{ margin:0;padding:0;}
dd{ margin-left: 0;}
input{ outline: none;}
/*tbody>tr:hover{background: #f3f4f8!important;}*/
tbody>tr:hover{color:#1992fc;}
tbody>tr td a:hover{ text-decoration: underline;}
.floatLeft{ float: left;}
.floatRight{ float: right;}
.color-blue{color: #4b90f7;}
/*common-header */
.headerBox{ width: 100%; height: 60px; background: #fff; border-color: #e7e7e7; box-shadow: 0 3px 12px 0 rgba(20,27,45,.08); -webkit-box-shadow: 0 3px 12px 0 rgba(20,27,45,.08); }
.heaLogo{ margin-top: 13px;}
.heaGit{ margin-top: 18px;}
.w{ width: 1200px; margin: 0 auto; }
.heaNav{ width: 531px; padding: 0; margin: 0 0 0 100px;;}
.heaNav li{ float: left; line-height: 60px; margin-top: 0; padding: 0; margin-right: 30px; cursor: pointer;}
.heaNav li:hover{ border-bottom: 3px solid #296de9; text-decoration: none; color: #353b47; font-weight: 700;}
.docr-ul{ display: none;position: absolute; top: 40px; min-width: 140px; box-shadow: 0 8px 16px 0 rgba(0,0,0,.2); padding: 12px 16px; text-align: center; left: -44px; background: #fff; z-index: 999;}
.docr-ul a{ text-align: center; display: block; color: #688499;}
.docr-ul a:hover{ color: #353b47; font-weight: 700;border-bottom: 3px solid #296de9;}
.docsNav:hover .docr-ul{ display: block;}
/*common-footer*/
.footerBox{background: #1e2736; color: #fff;}
.text-p{ padding: 5px; font-size: 12px; color: #999; text-align: center;}
/*header*/
.com-header{ clear: both; width: 100%; height:70px; background-color: #fff; box-shadow: 0px 3px 8px 0px rgba(15, 104, 170, 0.06); }
.com-header .nav-left{ margin: 10px 0 0 20px;}
.com-header .nav-left dt{ width: 60px; height: 50px; margin-right: 10px;}
.logo-img{ width: 100%;}
.com-header .nav-left dd .nav-title{ font-size: 18px; margin-top: 5px;}
.nav-title span{ margin-right: 10px;}
.nav-t1 a{color: #4b90f7;}
.nav-t2{ font-weight: normal;}
.nav-num{color: #c6cbd7; font-size: 12px; margin-top:1px;}
/*hea-search*/
.search-bar{ margin-top: 20px;margin-right: 45px;}
.seacr-box{ width: 330px; height: 35px; position: relative;}
.sea-ico{ outline: none; width: 15px; height: 15px; border: none; position: absolute; background: url(/img/icon_tab.png) no-repeat -253px -5px; background-size: 381px 27px; right: -11px; bottom: 12px; cursor: pointer;}
.sea-ico:hover{ background: url(/img/icon_tab.png) no-repeat -228px -5px; background-size: 381px 27px; cursor: pointer;}
.sea-ico img{ width: 15px; height: 15px;}
.sea-inp{ width: 330px; height: 30px; border: none; margin-left: 25px; background-color: #f2f4f8; border-radius: 80px; text-indent: 24px;}
.sea-inp::-webkit-input-placeholder{ color:#c6cbd7;font-size:14px;letter-spacing: 1px;}
.sea-inp::-moz-placeholder{ color:#c6cbd7;font-size:14px;letter-spacing: 1px;}
.go-btn{ cursor: pointer!important; outline:none;width: 100px; height: 32px; line-height: 32px; position: relative;top:2px; right: 33px; display: block; background: linear-gradient(to right,#1a90fc , #00d2ff);  box-shadow: 0px 6px 10px 0px rgba(15, 104, 170, 0.12); border-radius: 32px;}
.go-tex{ color: #fff; font-size: 18px; margin-left: -20px; font-weight: 300;}
.go-img{ width: 18px; height: 16px; top: 9px; position: absolute; right: 20px;}
.cont-box{margin: 0 20px 20px;}
.com-title{ padding: 0; display: inline-block;}
.com-title li{ float: left; margin-right: 15px; font-size: 16px; font-weight: 500;}
.ico-img{ width:9px; height: 9px;background: url(/img/icon_tab.png) no-repeat -5px -5px;display: inline-block; background-size: 381px 27px;}
.ico-home{ width:10px; height: 13px;background: url(/img/icon_tab.png) no-repeat -24px -5px;display: inline-block; background-size: 381px 27px;}
.con-titBox{ width: 100%; display: inline-block;}
.com-titLeft{ padding: 0;}
.com-titLeft li{ float: left; margin-right: 10px;}
.com-titLeft li b{ color: #3f454c; font-size: 14px;}
.com-titLeft li span{ color: #929cb8; font-size: 14px; margin-left: 10px;}
/*table*/
.cont-box .blocklist{box-shadow: 0px 3px 8px 0px rgba(15, 104, 170, 0.06); border-radius: 4px;}
.com-table{width: 100%; text-align: center; background: #fff;}
.com-table tr:nth-child(even) td { background: #f7f8fc;}
.com-table tr th{ height: 45px; font-size: 14px; background: #f7f8fc; border: none；}
.com-table tr td{ height: 45px; border: none;}
.blockInfo-box{box-shadow: 0px 3px 8px 0px rgba(15, 104, 170, 0.06); border-radius: 4px; background: #fff; margin-bottom: 20px;}
.addr-table{min-height:620px;position: relative;}
.blockInfo-table{width: 100%; padding: 20px; text-align: left; background: #fff;}
.blockInfo-title{ height: 50px; line-height: 50px; background-image: linear-gradient(0deg, #f2f4f9 0%, #fefeff 100%); font-size: 16px; font-weight: 600; text-align: left; padding-left: 15px;}
.bt-borLef{display: inline-block; margin-right: 10px; border-left: 2px solid #4b90f7; height: 12px; width: 2px;}
.blockInfo-table tr:nth-child(odd) td { background: #f7f8fc;}
.blockInfo-table tr td:nth-child(1) {font-weight: 600;}
.blockInfo-table tr th{ height: 45px; font-size: 14px; background: #f7f8fc; border: none; padding-left:15px;}
.blockInfo-table tr td{ height: 45px; border: none; padding-left:15px;}
.sec1{ margin:25px 0; }
.last-ico{ width: 18px; height: 17px; margin-right: 10px; cursor: pointer; margin-top: -2px;vertical-align: middle; background: url(/img/icon_tab.png) no-repeat -359px -5px; background-size: 381px 27px; display: inline-block;}
.last-ico:hover{ width: 18px; height: 17px; margin-right: 10px; cursor: pointer; margin-top: -2px;vertical-align: middle; background: url(/img/icon_tab.png) no-repeat -332px -5px; background-size: 381px 27px; display: inline-block;}
.next-ico{ width: 18px; height: 17px; margin-left: 10px; cursor: pointer; margin-top: -2px;vertical-align: middle; background: url(/img/icon_tab.png) no-repeat -305px -5px; background-size: 381px 27px; display: inline-block;}
.next-ico:hover{ width: 18px; height: 17px; margin-left: 10px; cursor: pointer; margin-top: -2px;vertical-align: middle; background: url(/img/icon_tab.png) no-repeat -278px -5px; background-size: 381px 27px; display: inline-block;}
.table-ico2{ width: 13px; height: 13px; background: url(/img/icon_tab.png) no-repeat -157px -5px; margin-right: 10px; display: inline-block; background-size: 381px 27px;}
.table-ico7{ width: 13px; height: 13px; background: url(/img/icon_tab.png) no-repeat -88px -5px; margin-right: 10px; display: inline-block; background-size: 381px 27px;}
.table-ico8{ width: 13px; height: 12px; background: url(/img/icon_tab.png) no-repeat -204px -5px; margin-right: 10px; display: inline-block; background-size: 381px 27px;}
.table-ico9{ width: 13px; height: 15px; background: url(/img/icon_tab.png) no-repeat -111px -5px; margin-right: 10px; display: inline-block; background-size: 381px 27px;}
.table-tr{ 	height: 60px; box-shadow: 0px 6px 8px 0px rgba(15, 104, 170, 0.06); border-radius: 3px;}
.table-tr th{ border-top: solid 1px #f1f3f8!important; background-color: #ffffff!important;}
ul.title{ padding-left:24px; }
ul.title>li{ color:#4b90f7; font-size:26px; }
a[href^="javascript"]{ cursor: default; color:#929cb8; }
.titleAddr{ line-height: 93px; height: 93px; padding: 0; margin: 0; display: inline-block; margin-right: 10px;}
.titleAddr li{ float: left; font-size: 14px; margin-right: 15px;}
.addr-tit{ font-weight: 600; font-size: 18px;margin-right:8px;}
.addr-mess{color: #929cb8; font-size: 18px;vertical-align:bottom;}
/*404*/
.err_text{width: 769px; height: 257px; position: fixed; top: 50%; left: 50%; margin-top: -128px; margin-left: -384px; background-color: #ffffff; box-shadow: 0px 12px 20px 0px rgba(15, 104, 170, 0.06); border-radius: 20px; opacity: 0.9;}
.errorDl{ width: 550px; height: 150px; margin: 0 auto; margin-top: 52px;}
.errorDl dt{ width: 150px; height: 150px;}
.errorDl dt img{ width: 100%;}
.err_h1{letter-spacing: 8px; font-size: 90px; color: #3f454c;}
.err_p{color: #929cb8; font-size: 14px; margin-top: px;}
.err_a{ font-size: 12px; color: #1992fc!important;}
/*pagination in addressInfo*/
.pagination a{ border-radius: 5px;}
.pagination{margin-top:20px;width:480px;overflow: hidden;position: absolute;bottom: 15px;text-align: center;margin-left: 50%;left:-240px;}
.pagination>.pageInfo{height: 26px;width:180px;margin-left:2%;float:left;line-height: 26px;text-align: center;border: solid 1px #d2e3f1;background-color: #f7f8fc;border-radius: 5px;color:#929cb8}
.first{float:left;margin-right:5px;width:60px;height:26px;border: solid 1px #4b90f7;line-height: 26px;text-align: center;cursor: pointer;color:#4b90f7}
.last{float:right;margin-right:5px;width:60px;height:26px;border: solid 1px #4b90f7;line-height: 26px;text-align: center;cursor: pointer;color:#4b90f7}
.first:hover{background-color: #4b90f7;color:#fff;}
.last:hover{background-color: #4b90f7;color:#fff;}
.balCont{ width: 98%; display: inline-block;margin-bottom: -4px;}
.balanceBox{height: 45px; padding:24px 37px 24px 20px; background-image: linear-gradient(135deg, #1189f8 0%, #00c6ff 100%); border-radius: 8px;}
.balDt{ width: 39px; height: 45px;}
.balDd{ margin-left: -6px;}
.balImg{ width: 100%;}
.banNum{ font-size: 24px; color: #fff;}
.banTex{ font-size: 12px; color: #fff;}
.balMes{ width: 156px; margin-top: 22px;text-align: center; }
.balIco{ width: 5px; height: 6px; margin: -4px 10px 0 10px; vertical-align: middle;}
.balNum2{color: #3f454c; font-size: 24px;}
.balTex2{color: #929cb8; font-size: 12px;margin-left: 41px;margin-top: 3px;}
.tabIn{	width: 45px; height: 20px; line-height: 20px; font-size: 12px; display: inline-block; color: #ffffff; background-color: #1993fd; border-radius: 10px;}
.tabOut{	width: 45px; height: 20px; line-height: 20px; font-size: 12px; display: inline-block; color: #ffffff; background-color: #ff750f; border-radius: 10px;}
/*notfound Page*/
.notfound tbody>tr{height:500px;}
.notMessage{margin-top:10px;color:#c6cbd7}
/*contractInfo*/
.contractInfo{display: inline-block;font-size: 12px;}
.textareaInfo{font-size:small;background-color:#f7f8fc;width:580px;height:100px;padding:5px;}
