<% layout('index') -%>
<div class="err_text">
  <dl class="errorDl">
    <dt class="floatLeft">
      <img src="/img/errorIco.png" alt="">
    </dt>
    <dd class="floatRight">
      <h1 class="err_h1">404</h1>
      <p class="err_p">SORRY，THE PAGE WAS TEMPORARILY INACCESSIBLE</p>
      <a class="err_a" href="/">RETURN HOME >> </a>
    </dd>
  </dl>
</div>
