<div class="footerBox">
  <div class="footer_icon">
      <ul class="foot_ul floatLeft">
        <li>
          <a href="https://t.me/WanchainANN"><img src="/img/footer_icon/Telegram.png"/></a>
          <span>Telegram</span>
        </li>
        <li>
          <a href="https://discord.gg/3DpeV6W"><img src="/img/footer_icon/Discord.png"/></a>
          <span>Discord</span>
        </li>
        <li>
          <a href="https://twitter.com/wanchain_org"><img src="/img/footer_icon/Twitter.png"/></a>
          <span>Twitter</span>
        </li>
        <li>
          <a href="https://www.reddit.com/r/wanchain/"><img src="/img/footer_icon/Reddit.png"/></a>
          <span>Reddit</span>
        </li>
        <li>
          <a href="https://www.facebook.com/wanchainfoundation/"><img src="/img/footer_icon/Facebook.png"/></a>
          <span>Facebook</span>
        </li>
        <li>
          <a href="http://weibo.com/wanchain"><img src="/img/footer_icon/Weibo.png"/></a>
          <span>Weibo</span>
        </li>
        <li style="position:relative" class="footer_tdwc">
          <img src="/img/footer_icon/td_wechat.png">
          <a><img src="/img/footer_icon/Wechat.png"/></a>
          <span>Wechat</span>
        </li>
        <li style="position:relative"  class="footer_tdqq">
          <img src="/img/footer_icon/td_qq.png">
          <a><img src="/img/footer_icon/QQ.png"/></a>
          <span>QQ group</span>
        </li>
      </ul>
  </div>
  <div class="w">
    <div class="text-p">
      <p>©WANCHAIN FOUNDATION LTD 2017 all rights reserved</p>
    </div>
  </div>
</div>
