<div class="headerBox">
  <div class="w">
    <a class="heaLogo floatLeft" href="https://wanchain.org/">
      <img src="/img/hea-logo.png" alt="">
    </a>
    <ul class="heaNav floatLeft">
      <li><a href="https://wanchain.org/">Home</a></li>
      <li><a href="https://wanchain.org/tokensale">Tokensale</a></li>
      <li class="docsNav" style="position:relative;color:#000;">
          Docs
        <div class="docr-ul">
          <a href="https://wanchain.org/files/Wanchain-Whitepaper-EN-version.pdf">Whitepaper</a>
          <a href="https://wanchain.org/files/Wanchain-Yellowpaper-EN-version.pdf">Yellowpaper</a>
          <a href="https://wanchain.org/files/Wanchain-Commercial-Whitepaper-EN-version.pdf">Commercialpaper</a>
        </div>
      </li>
      <li><a href="https://wanchain.org/about">Team</a></li>
      <li><a href="https://wanchain.org/career">Career</a></li>
    </ul>
    <a class="heaGit floatRight" href="https://github.com/wanchain">
      <img src="/img/hea-git.png">
    </a>
  </div>
</div>
