<!DOCTYPE html>
<html>

<head>
  <title>WanChain</title>
  <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
  <section class="com-header" id="search">
    <dl class="floatLeft nav-left" id="nav-left">
      <dt class="floatLeft"><a href="/"><img class="logo-img" src="/img/logo.png" alt=""></a></dt>
      <dd class="floatLeft">
        <h1 class="nav-title">
          <span class="nav-t1"><a href="/">WANCHAIN</a></span>
          <span class="nav-t2">Block Explorer</span>
        </h1>
        <p class="nav-num">Beta version 1.0</p>
      </dd>
    </dl>
    <div class="floatRight search-bar" id="search-bar">
      <div class="seacr-box floatLeft">
        <button class="sea-ico" id="goSearch" form="search_bar"></button>
        <form id="search_bar">
          <input id="input_text" required
          oninvalid="setCustomValidity('Please enter valid data !');"
          onMouseOver="this.title=' '"
          type="text" class="sea-inp" maxlength="80"
          placeholder="Search by Address / Txhash / Block">
        </form>
      </div>
    </div>
  </section>
  <section class="cont-box">
    <%- body -%>
  </section>
  <script type="text/javascript" src="/js/index.js"></script>
</body>
</html>
