<% layout('index') -%>
<ul class="com-title">
  <li>
    <em class="ico-img"></em>
  </li>
  <li>
    <% for(var i in breadcrumbs){ %>
      <a class="color-blue" href=<%=breadcrumbs[i]%>><%=i %></a>
    <% } %>
  </li>
</ul>
<article class="blocklist notfound">
  <table class="com-table" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr class="table-tr">
          <th>No</th>
          <th>Height</th>
          <th>Age</th>
          <th>Txn</th>
          <th>Gas Used</th>
          <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td colspan="6">
          <img src="/img/notfound.png" alt="">
          <div class="notMessage">There are no matching entries</div>
        </td>
      </tr>
    </tbody>
  </table>
</article>
