<% layout('index') -%>
<ul class="com-title">
  <li>
    <img class="ico-img" src="/img/ico.png" alt="">
  </li>
  <li>
    <% for(var i in breadcrumbs){ %>
      <% if(i==="OVERVIEW FOR BLOCK"||i==="ADDRESS"||i==="TRANSACTIONS"){ %>
        -
        <%}%>
          <a class="color-blue" href=<%=breadcrumbs[i]%>><%=i %></a>
          <% } %>
  </li>
</ul>
<article class="blocklist notfound">
  <table class="com-table" border="0" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
          <th>No</th>
          <th>Height</th>
          <th>Age</th>
          <th>Txn</th>
          <th>Gas Used</th>
          <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td colspan="6">
          <img src="/img/notfound.png" alt="">
          <div class="notMessage">There are no matching entries</div>
        </td>
      </tr>
    </tbody>
  </table>
</article>
